@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #161925;
	color: white;
}

.wrapper {
	width: min(1100px, 100% - 70px);
	margin: 0 auto;
}

.articles {
	display: grid;
	gap: 15px;
}

.articles ul li {
	list-style: decimal;
}

.articles button {
	max-width: max-content;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.navbar ul {
	display: flex;
	align-items: center;
	gap: 10px;
}

.form {
	background: #1b1e2c;
	display: flex;
	flex-flow: column;
	-webkit-box-align: stretch;
	align-items: stretch;
	gap: 1.1rem;
	border-radius: 0.5rem;
	padding: 2rem 2.5rem;
	max-width: 400px;
	text-align: center;
	margin: 70px auto 0;
}

.form h3 {
	color: #ffffff;
}

.form p {
	color: #ffffffa6;
	font-size: 0.8125rem;
	font-family: inherit;
	letter-spacing: normal;
	font-weight: 400;
	line-height: 1.38462;
}

.form p a {
	color: #0b7af9;
}

.articles img{
	max-width: 300px;
	height: auto !important;
}

.articles li{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.inputContainer {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: 0.5rem;
}

.inputContainer input,
.inputContainer textarea {
	padding: 0.375rem 0.75rem;
	border: none;
	background-color: #252a41;
	color: rgb(255, 255, 255);
	outline: transparent solid 2px;
	outline-offset: 2px;
	max-height: 2.25rem;
	width: 100%;
	border-radius: 0.375rem;
}

.inputContainer textarea{
	max-height: 8rem;
	resize: vertical;
}

.inputContainer input::placeholder {
	color: rgb(219, 219, 219);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 0s 600000s, color 0s 600000s !important;
}

.inputContainer label {
	color: rgb(255, 255, 255);
	font-family: inherit;
	letter-spacing: normal;
	font-weight: 500;
	font-size: 0.8125rem;
	line-height: 1.38462;
	text-align: left;
}

.btn {
	background: #0b7af9;
	color: white;
	border-radius: 0.375rem;
	font-weight: 500;
	font-size: 0.8125rem;
	line-height: 1.38462;
	width: 100%;
	padding: 0.375rem 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.message {
	position: absolute;
	width: max-content;
	padding: 10px;
	right: 20px;
	top: 80px;
	border-radius: 5px;
	font-weight: bold;
}

.success_message {
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #badbcc;
}

.error_message {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
}
