{% extends "base.html" %} 

{% block body %} 

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'warning' %}
        <div class="error_message message">{{message}}</div>
    {% else %}
        <div class="success_message message">{{message}}</div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
<h2>Welcome, {{request.user.username}}</h2>
{% endif %}
<div class="articles">
	<h3>{{article.author}}</h3>
	<h4>{{article.title}}</h4>
	<p>{{article.content|safe}}</p>
	<small>{{article.created_date}}</small>
	{% if article.image %}
    	<img src="{{ article.image.url }}" alt="">
	{% endif %}
</div>

<div class="comments">
  <h3>Comments</h3>
  {% if comments %}
        
        {% for comment in comments %}
            <div class="comment">
                <h4>{{comment.comment_date}} zamani {{comment.comment_author}} terefinden yazildi:</h4>
                <h5>{{comment.comment_content}}</h5>
            </div>
        {% endfor %}
    
    {% else %}
        <p>Hələki heç bir şərh yoxdur...</p> 
    {% endif %}
</div>

<form class="form comment-form" action="{% url 'comment' article.id %}" method="post">
  {% csrf_token %}
  <div class="inputContainer">
    <label for="commentAuthor">Author</label>
    <input type="text" name="comment__author" id="commentAuthor">
  </div>
  <div class="inputContainer">
    <label for="commentContent">Content</label>
    <textarea type="text" name="comment__content" id="commentContent"></textarea>
  </div>

  <button class="btn" type="submit">Send</button>
</form>
{% endblock body %}