{% extends "base.html" %}

{% block body %}
<form class="form">
	{% csrf_token %}
	<div class="inputContainer">
		<input type="text" name="search" placeholder="Search...">
	</div>
	<button class="btn" type="submit">Search article</button>
</form>

<div class="articles">
	<h2>Articles:</h2>
	<ul>
		{% for article in articles %}
		<li>
			<h3>{{article.author}}</h3>
			<h4>{{article.title}}</h4>
			<p>{{article.content}}</p>
			<small>{{article.created_date}}</small>
		</li>
		<hr />
		{% endfor %}
	</ul>
</div>
{% endblock body %}
